@import url(https://fonts.googleapis.com/css?family=Satisfy); 
@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url('https://fonts.cdnfonts.com/css/retro-new-version');

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
}

h1 {
  color: white;
  font-family: 'Six Caps', sans-serif;
  font-size: 100px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
  background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  margin-bottom: 10px;
  
}

p {
    font-family: 'Retro New Version', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color:rgb(230, 200, 160)
  }


* {
  // border: solid red 1px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding-bottom: 200px;
}

.headlineContainer {
  display: flex;
  justify-content: center;
  width: 500px;  
}

.drawingContainer {
    display: grid;
    background-color: #274c43;
    grid-template-columns: repeat(auto-fill, 6px);
    grid-template-rows: repeat(auto-fill, 6px);
    justify-content: center;
    height: 500px;
    width: 500px;
    border: solid grey 2px;
}


  
  button {
    height: 20px;
    width: 100px;
    font-family: 'Retro New Version', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    background-color: #274c43;
    color:rgb(230, 200, 160)
  }


  .refreshButton:hover {
    opacity: 0.9;
  }

  .greenButton {
    height: 20px;
    width: 80px;
  }
  
  .optionContainer {
    
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding-bottom: 200px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

