* {
  background-color: beige;
}


.mainContainer {
  display: flex;
  width: 1000px;
  height: 1000px;
  flex-direction: column;
  margin: 50px;
}

.headlineContainer {
  display: flex;
  justify-content: center;
  width: 500px;
  
  
}

.drawingContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 6px);
    grid-template-rows: repeat(auto-fill, 6px);
    justify-content: center;
    height: 500px;
    width: 500px;
    border: solid grey 2px;
  
    /* justify-content: center;
    align-items: center; */
  }
  
  
  .divClass {
    /* border: solid pink 0.1px; */
    
  }
  
  .activated {
    background-color: black;
  }

  .green {
    background-color: green;
  }

  .refreshButton {
    height: 20px;
    width: 80px;
  }


  .refreshButton:hover {
    opacity: 0.9;
  }

  .greenButton {
    height: 20px;
    width: 80px;
  }
  
  .buttonContainer {
    width: 700px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

.slider {

  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
